html {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
}

    figure{
        border-color: rgb(75, 0, 0);
    }
body{
    margin: 0;
    padding: 0;
    outline: 0;
    background: rgb(75, 0, 0);
}

main {
    display: flex;
    width:70%;
    margin:100px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.box {
    width: 500px;
    height: 600px;
    display: inline-block;
    border: 20px solid;
    margin-bottom: 20px;
    justify-content: space-between;
    background: rgb(184, 134, 11);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


footer {
    background:black;
    font-size:x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width:900% ;
    height: 900%;
}

